<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
    http://code.alibabatech.com/schema/dubbo 
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    
    <!-- 组件扫描 -->
    <context:component-scan base-package="com.zcs.yunjia.item.controller"></context:component-scan>
    <!-- 注解驱动 -->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!-- 加载属性文件 -->
    <context:property-placeholder location="classpath:properties/*.properties"/>
	<!-- 全局异常处理器 -->
	<bean id="exceptionHandler" class="com.zcs.yunjia.item.exception.GlobalExceptionResolver"/>

	<!-- 登录拦截器 interceptor -->
	<!--<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/item/**"/>
			<bean class="com.zcs.yunjia.item.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>-->
    
    <bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>	
	
    <!-- 静态资源放行 -->
    <mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
    <mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
    <mvc:resources location="/images/" mapping="/images/**"></mvc:resources>

	<!-- dubbo 引入服务 -->
	<dubbo:application name="yunjia-item-web"/>
	<dubbo:registry protocol="zookeeper" address="47.100.214.167:2181"></dubbo:registry>
	<!-- <dubbo:reference interface="com.zcs.yunjia.content.service.ItemCatService" id="itemCatService" /> -->
	<dubbo:reference interface="com.zcs.yunjia.item.service.ItemService" id="itemService" />
	<dubbo:reference interface="com.zcs.yunjia.sso.service.UserService" id="userService" />
</beans>